.news {

  &__item {
    font-size: 16px;
    color: #0040ff;
    text-decoration: none;
    margin: 0 0 20px 0;
    display: block;


    &:hover {
      color: #4c8dff;
    }
  }

  &__image {
    width: 120px;
    height: 80px;
  }

  &__title {
    color: #000000;
    font-size: 18px;
    margin: 0 0 5px 0;
  }
  &__description {    
    color: #575757;
    font-size: 14px;
  }
  
  &__item-block {
    display: flex;


    & > div:nth-child(1) {
      width: 120px;
      height: 80px;
    }
    & > div:nth-child(2) {
      width: 100%;
      padding: 0 0 0 10px;
    }
  }

  
  @media all and (max-width: 600px) {
    & {
        
  &__item-block {


    & > div:nth-child(1) {
      display: none;
    }
  }
     
    }
  }
}