<header class="header">
  <div class="header__toolbar">
    <div class="container header-box">
      <div class="header-box__item">

      </div>

      <div class="header-box__item">
        <div class="logo">
          <a [routerLink]="['/']" class="logo">
            <img src="/assets/main/logo.png" alt="">
          </a>
        </div>


      </div>

      <div class="header-box__item">
        <div class="header-account">

          <div *ngIf="privilege('auth'); else headerAccountNoAuth">
            <span class="header-account__registration" (click)="logout()">Выход</span> |
            <a [routerLink]="['/user/panel/reports']" class="header-account__registration">Личный кабинет</a>
          </div>

          <ng-template #headerAccountNoAuth>
            <a [routerLink]="['/registration']" class="header-account__registration">Регистрация</a> | <a
              [routerLink]="['/user/login']" class="header-account__registration">Вход</a>
          </ng-template>

        </div>
      </div>

    </div>

  </div>
</header>