<div class="container">
    <div class="grid">
        <div>
            <h1>Личный кабинет</h1>
            <nav class="grid-nav">
                <a routerLinkActive="active" class="panel-nav__item" [routerLink]="['/user/panel/reports']">Сохраненные
                    отчеты</a>
                <a *ngIf="privilege('price-comparisons')" routerLinkActive="active" class="panel-nav__item" [routerLink]="['/user/panel/price-comparisons']">Сравнение цен</a>


                <span *ngIf="privilege('vip')">
                <a routerLinkActive="active" class="panel-nav__item" [routerLink]="['/user/setting']">Настройки</a>                
                <a href="javascript:;" class="panel-nav__item" (click)="whatRole()">Узнать роль</a>
                </span>
            </nav>


<!--
            
            <nav class="panel-nav-footer">
                <a routerLinkActive="active" class="panel-nav-footer__item" [routerLink]="['/user/panel/reports']">Сохраненные
                    отчеты</a>

            </nav>

-->


        </div>
        <div class="grid-content">            
            <app-currency (customName)="myMethod($event)"></app-currency>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>