.panel {


}

  .grid {
        display: grid;
      grid-template-columns: 300px 3fr;
      grid-auto-rows: 1fr;
      grid-gap: 15px;

      @media only screen and (max-width: 700px) {
        display: block;
      }
    &__item {

    }
    }


    .grid-nav {
      margin: 0 0 20px 0;
    }

    .grid-content {
    }
    

  .panel-nav {

    &__item {
      text-decoration: none;
      display: block;
      background: #1e88e5;
      padding: 20px 20px;
      color: #fff;
      font-size: 16px;
      border-bottom: 1px #fff solid;
      &.active,
      &:hover {
        background: #005cb2;
      }
    }
  }




