<div class="container">
    <h1>Личный кабинет</h1>
    <div class="grid">
        <div>
            <nav class="grid-nav">
                <a routerLinkActive="active" class="panel-nav__item" [routerLink]="['/user/panel']">Сохраненные
                    отчеты</a>
                <a routerLinkActive="active" class="panel-nav__item" [routerLink]="['/user/setting']">Настройки</a>
            </nav>

        </div>
        <div class="grid-content">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>