.panel {


}

  .grid {
        display: grid;
      grid-template-columns: 300px 3fr;
      grid-auto-rows: 1fr;
      grid-gap: 15px;
    &__item {

    }
    }


    .grid-nav {
    }

    .grid-content {
    }
    

  .panel-nav {

    &__item {
      text-decoration: none;
      display: block;
      background: #1e88e5;
      padding: 20px 20px;
      color: #fff;
      font-size: 16px;
      border-bottom: 1px #fff solid;
      &.active,
      &:hover {
        background: #005cb2;
      }
    }
  }






  .user-report__result-block strong {
    color: #000;
}



.user-report__svg-delete {
     max-width: 14px;
    fill: #d32f2f;
    cursor: pointer;
}
.user-report__svg-delete-title {
    width: 18px;
    fill: #fff;
}

.user-saved-queries__link-report {

}
.user-reports__count {
text-align: center;
    color: #000;
    font-size: 14px;
    margin: 7px 1px 3px 0px;
}
.user-reports__count_black {
    color: #d32f2f;
}
.svg-report {
    width: 24px;
    fill: #000;
}
  


.table-wrap {
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-wrap tr {
  border: 1px solid #ddd;
  padding: 5px;
}

.table-wrap th  {
padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
      font-weight: 500;
}
.table-wrap td {
padding: 5px 10px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.table-wrap th {
color: #fff;
  background-color: #d32f2f;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}









.auto-title__h1 {
       font-size: 18px;
  border-bottom: 2px #4c8dff solid;
  display: inline-block;
}



.user-no-report__message {
  color: #d83d3d;
  margin: 30px 0;
}

.user-saved-queries__link-report {
  text-decoration: none;
  color: #0069c0;
}

.user-report__date-line {
  color: #ddd;
  margin: 0 5px 0 7px;
}




@media screen and (max-width: 767px) {
  .table-wrap {
  border: 0;
}
.table-wrap thead {
  display: none;
}
.table-wrap tr {
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #ddd;
}
.table-wrap td {
  display: block;
  text-align: right;
  font-size: 13px;
  border-bottom: 1px dotted #ccc;
  border-right: 1px solid transparent;
}
.table-wrap td:last-child {
  border-bottom: 0;
}
.table-wrap td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
}
