<section [class]="loadingBlock ? 'loading-block' : ''">

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="loading-block__layout">
            <mat-spinner class="spinner-loading-block" *ngIf="loadingBlock" [diameter]="50"></mat-spinner>

            <h1 class="auto-price-page__h1">Внесите параметры автомобиля:</h1>

            <section class="radio auto__radio-db">
                <mat-radio-group class="radio_red auto-radio-colums-2" formControlName="db" [(ngModel)]="db">
                    <mat-radio-button value="current">Оценка по текущему рынку</mat-radio-button>
                    <mat-radio-button value="old">Оценка по рынку за последние 6 месяцев</mat-radio-button>
                  </mat-radio-group>
            </section>

            <section class="grid-colums-3">

                <mat-form-field>

                    <mat-spinner class="loading-select" *ngIf="loadingMarks" [diameter]="20"></mat-spinner>
                    <mat-label>Марка</mat-label>
                    <mat-select #selectMarksId required formControlName="mark"
                        (ngModelChange)="getModels($event, selectModels)">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let mark of marks" [value]="mark.id">
                            {{mark.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>

                    <mat-spinner class="loading-select" *ngIf="loadingModels" [diameter]="20"></mat-spinner>

                    <mat-label>Модель</mat-label>
                    <mat-select #selectModels required formControlName="model" [value]="modelsValue" (ngModelChange)="getBodyTypes($event, selectBodyTypes)"
                        [attr.disabled]="loadingModels">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of models" [value]="item.id">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>

                    <mat-spinner class="loading-select" *ngIf="loadingBodyTypes" [diameter]="20"></mat-spinner>

                    <mat-label>Тип кузова</mat-label>
                    <mat-select #selectBodyTypes required formControlName="bodyType" [value]="bodyTypesValue">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of bodyTypeArr" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Год выпуска</mat-label>
                    <mat-select required formControlName="year">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of years" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Пробег (км)</mat-label>
                    <input matInput placeholder="0" required formControlName="millage"
                        (keyup)="thousandSeparator($event)">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Тип топлива</mat-label>
                    <mat-select required formControlName="fuel">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of fuelArr" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Объем двигателя (л.)</mat-label>
                    <mat-select required formControlName="volume">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of volumeArr" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Трансмиссия</mat-label>
                    <mat-select required formControlName="transmission">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of transmissionArr" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Привод</mat-label>
                    <mat-select required formControlName="gear">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let item of gearArr" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </section>

        </div>

        <br>

        <div class="home-expansion-panel">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="home-expansion-panel__header">
                        <mat-panel-title class="home-expansion-panel__title">
                            <div class="home-expansion-panel__title-h1">Дополнительные параметры</div>
                        </mat-panel-title>
                        <mat-panel-description class="home-expansion-panel__description">
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <br>

                    <section class="grid-colums-3">
                        <div class="info">
                        <mat-form-field>                            
                            <mat-label>Поколение/Рестайлинг</mat-label>
                            <mat-select formControlName="generationRestyling">
                                <mat-option>Выбрать</mat-option>
                                <mat-option *ngFor="let item of generationRestylingArr" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                        
                        <span class="material-icons icon-info" (click)="showInfoEquipment()">info</span>  
                        </div>
                        <mat-form-field>
                            <mat-label>Комплектация</mat-label>
                            <mat-select formControlName="equipment">
                                <mat-option>Выбрать</mat-option>
                                <mat-option *ngFor="let item of equipmentArr" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Состояние</mat-label>
                            <mat-select formControlName="shape">
                                <mat-option>Выбрать</mat-option>
                                <mat-option *ngFor="let item of shapeArr" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>

                </mat-expansion-panel>
            </mat-accordion>

        </div>

        <div class="home-expansion-panel">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="home-expansion-panel__header">
                        <mat-panel-title class="home-expansion-panel__title">
                            <div class="home-expansion-panel__title-h1">
                                Дополнительно установленное оборудование</div>
                        </mat-panel-title>
                        <mat-panel-description class="home-expansion-panel__description">
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <br>

                    <div *ngFor="let item of additionallyEquipment; let id = index">

                        <div class="grid-colums-4">



                            <mat-form-field>
                                <mat-label>Цена</mat-label>
                                <input matInput placeholder="0" [value]=""
                                    (keyup)="changePriceadditionallyEquipment($event, id)">
                            </mat-form-field>


                            <mat-form-field>
                                <mat-label>Валюта</mat-label>
                                <mat-select class="select" [(value)]="item.currency">
                                    <mat-option *ngFor="let currency of currencyList;" [(value)]="currency.value">
                                        {{ currency.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>




                            <mat-form-field>
                                <mat-label>Год установки</mat-label>
                                <mat-select class="select" [(value)]="item.year">
                                    <mat-option *ngFor=" let itemYear of years" [value]="itemYear">
                                        {{ itemYear }}</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <div>
                                <button type=" button" mat-flat-button color="warn"
                                    (click)="deleteAdditionallyEquipment(id)">

                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>

                    <button type="button" mat-flat-button color="primary" (click)="addAdditionallyEquipment()">
                        <span class="material-icons">
                            add_circle
                        </span>

                        Добавить
                        установленное
                        оборудование</button>




                </mat-expansion-panel>
            </mat-accordion>

        </div>


        <div *ngIf="resultShow">


            <div *ngIf="result; else messageNotCars">
                <section *ngIf="result" class="result__more-details">
                    <app-report [showOldCars]="showOldCars" [uniqId]="uniqId" [cur]="cur"></app-report>
                </section>
            </div>

            <ng-template #messageNotCars>
                <div class="error-message__text-only ">
                    К сожалению, оценка не может быть выполнена. Возможно, автомобиль имеет уникальные для выбранного
                    региона характеристики, либо параметры внесены некорректно.</div>
            </ng-template>

            <app-rating-with-comment [uniqId]="uniqId"></app-rating-with-comment>

        </div>





        <section class="form-footer__btns">
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || loadingBtn">
                <mat-spinner class="loading-btn" *ngIf="loadingBtn" [diameter]="20"></mat-spinner>
                анализировать
            </button>
        </section>


    </form>

</section>