<div class="example-container">


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      eert
    </mat-sidenav>

    <mat-sidenav-content>

      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <app-header></app-header>

      <div class="logo">
        <a [routerLink]="['/']" class="logo">
          <img src="/assets/main/logo.png" alt="">
        </a>
        <div class="logo__description">удобный и быстрый инструмент оценки автомобиля</div>
      </div>

      <button mat-button (click)="openDialog()">Launch dialog</button>


      <div (click)="whatRole()">Узнать роль</div>
      <router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<button mat-icon-button (click)="snav.toggle()">
  <mat-icon>menu</mat-icon>
</button>