<div>


  <h2 class="main-h2"></h2>

  <h2 class="main-h2">Общее количество автомобилей в продаже:</h2>

  <div class="market-statistics__top-block">

    <canvas baseChart [datasets]="chartMSCountData" [labels]="chartMSCountLabels"
      [options]="chartMSCountOptions" [chartType]="chartMSCountType" [colors]="chartMSCountColors">
    </canvas>  
    
  </div>

  <h2 class="main-h2 mt-3">Средняя стоимость автомобиля:</h2>

  <div class="market-statistics__top-block">

    <canvas baseChart [datasets]="chartMSPriceAvgData" [labels]="chartMSPriceAvgLabels"
      [options]="chartMSPriceAvgOptions" [chartType]="chartMSPriceAvgType" [colors]="chartMSPriceAvgColors">
    </canvas>  
    
  </div>


  <h2 class="main-h2 mt-3">ТОП 5 самых продаваемых автомобилей:</h2>


  <div class="market-statistics__top-block">

    <canvas baseChart [datasets]="chartMSTopData" [labels]="chartMSTopLabels"
      [options]="chartMSTopOptions" [chartType]="chartMSTopType" [colors]="chartMSTopColors">
    </canvas>  
    
  </div>

</div>
  
