.save-report {
  

  &__btn-download-pdf {
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    cursor: pointer;
    color: #44c4a1;

    & > span:nth-child(1) {
      width: 180px;
      font-size: 18px;
      padding-right: 10px;
    }
    & > span:nth-child(2) {
      width: 50px;
    }
    &:hover {
      color: #828282;
    }
  }

  &__block {
    position: relative;
  }
}