.dialog {


  &_blue {
    
    & .mat-dialog-title {
      color: #673ab7;
    }

    & .buttons {
      margin: 20px 0 0 0;
    }
    & .buttons_right {
      text-align: right;
    }    
    & .buttons_left {
      text-align: left;
    }    
    & .buttons_center {
      text-align: center;
    } 
   
  }


}

