<section [class]="loadingBlock ? 'loading-block' : ''">

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="loading-block__layout">
            <mat-spinner class="spinner-loading-block" *ngIf="loadingBlock" [diameter]="50"></mat-spinner>
            <br>
            <div class="auto-price-page__h2">Внесите параметры автомобиля:</div>

            <section class="grid-colums-3">

                <mat-form-field class="example-full-width">
                    <mat-label>Ваш бюджет</mat-label>
                    <input matInput placeholder="0" required formControlName="budget">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Валюта</mat-label>
                    <mat-select class="select" required [value]="currencyBudget" formControlName="currencyBudget">
                        <mat-option *ngFor="let currency of currencyList;" [(value)]="currency.value">
                            {{ currency.name }}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field *ngIf="listChipMarks.length < 3">

                    <mat-spinner class="loading-select" *ngIf="loadingMarks" [diameter]="20"></mat-spinner>
                    <mat-label>Марка</mat-label>
                    <mat-select #selectMarksId formControlName="mark" (selectionChange)="addForListChipMarks($event)">
                        <mat-option>Выбрать</mat-option>
                        <mat-option *ngFor="let mark of marks" [value]="mark.id">
                            {{mark.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </section>

            <div *ngIf="listChipMarks.length > 0">
                <br>
                <div class="auto-price-page__h2">Выбранные марки (<strong>{{listChipMarks.length}} из 3</strong>):</div>
                <mat-chip-list #chipList aria-label="Fruit selection">
                    <mat-chip *ngFor="let car of listChipMarks" [selectable]="selectable" [removable]="removable"
                        (removed)="removeListChipMarks(car.id)">
                        {{car.title}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>





            <br>

            <div class="auto-price-page__h2">Выберите года</div>
            <ng5-slider [(value)]="minYearValue" [(highValue)]="maxYearValue" [options]="optionsYear"></ng5-slider>


            <br> <br>

            <div class="home-expansion-panel">
                <mat-accordion multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="home-expansion-panel__header">
                            <mat-panel-title class="home-expansion-panel__title">
                                <div class="home-expansion-panel__title-h1">
                                    Дополнительные параметры</div>
                            </mat-panel-title>
                            <mat-panel-description class="home-expansion-panel__description">
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <br>


                        <div class="grid-colums-3">

                            <mat-form-field>
                                <mat-label>Тип кузова</mat-label>
                                <mat-select formControlName="bodyType">
                                    <mat-option value="">Выбрать</mat-option>
                                    <mat-option *ngFor="let item of bodyTypeArr" [value]="item.value">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                            <mat-form-field>
                                <mat-label>Тип топлива</mat-label>
                                <mat-select formControlName="fuel">
                                    <mat-option value="">Выбрать</mat-option>
                                    <mat-option *ngFor="let item of fuelArr" [value]="item.value">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Трансмиссия</mat-label>
                                <mat-select formControlName="transmission">
                                    <mat-option value="">Выбрать</mat-option>
                                    <mat-option *ngFor="let item of transmissionArr" [value]="item.value">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>






                    </mat-expansion-panel>
                </mat-accordion>

            </div>




        </div>


        <div *ngIf="resultShow">

            <div class="auto-budget-rating__title">Результат подбора автомобилей:</div>

            <div class="auto-budget-rating">

                <div *ngFor="let car of result; let index = index" class="auto-budget-rating__item">
                    <div class="auto-budget-rating__item-counter">{{index + 1}}</div>
                    <div class="auto-budget-rating__item-title"><strong>{{car['markTitle']}}</strong></div>
                    <div class="auto-budget-rating__item-title"><strong>{{car['modelTitle']}}</strong></div>
                    <div class="auto-budget-rating__item-title"><strong>{{car['year']}}</strong> год</div>
                    <div class="auto-budget-rating__item-price"><strong>{{car['priceAvg']}}</strong> {{cur}}</div>
                </div>

            </div>

        </div>
        <br>

        <section class="form-footer__btns">
            <button mat-flat-button color="primary" type="submit"
                [disabled]="form.invalid || loadingBtn || listChipMarks.length <= 0">
                <mat-spinner class="loading-btn" *ngIf="loadingBtn" [diameter]="20"></mat-spinner>
                анализировать
            </button>
        </section>


    </form>

</section>