<section [class]="loadingBlock ? 'loading-block' : ''">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="loading-block__layout">
      <mat-spinner class="spinner-loading-block" *ngIf="loadingBlock" [diameter]="50"></mat-spinner>

      <h1 class="auto-price-page__h1">Внесите параметры автомобиля:</h1>

      <section class="grid-colums-3">

        <mat-form-field>

          <mat-spinner class="loading-select" *ngIf="loadingMarks" [diameter]="20"></mat-spinner>
          <mat-label>Марка</mat-label>
          <mat-select #selectMarksId required formControlName="mark" (ngModelChange)="getModels($event, selectModels)">
            <mat-option>Выбрать</mat-option>
            <mat-option *ngFor="let mark of marks" [value]="mark.id">
              {{mark.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>

          <mat-spinner class="loading-select" *ngIf="loadingModels" [diameter]="20"></mat-spinner>

          <mat-label>Модель</mat-label>
          <mat-select #selectModels required formControlName="model" [value]="modelsValue"
            [attr.disabled]="loadingModels">
            <mat-option>Выбрать</mat-option>
            <mat-option *ngFor="let model of models" [value]="model.id">
              {{model.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Год выпуска</mat-label>
          <mat-select required formControlName="year">
            <mat-option>Выбрать</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </section>

      <div *ngIf="resultShow">


        <div *ngIf="result; else messageNotCars">
          <section *ngIf="result" class="result__more-details">
            <app-report [showOldCars]="showOldCars" [uniqId]="uniqId" [cur]="cur"></app-report>
          </section>
        </div>

        <ng-template #messageNotCars>
          <div class="error-message__text-only ">
            К сожалению, мы не смогли подобрать автомобиль с данными параметрами. Попробуйти увеличить свой
            бюджет либо изменить дополнительные параметры.</div>
        </ng-template>

      </div>
      <!--
      <section *ngIf="result" class="result__more-details">

       

        <h2>Результат анализа рынка:</h2>
        <div>Стоимость данной модели на рынке:</div>
        <ul>
          <li>минимальная <strong>{{result.priceMin}}</strong> {{cur}}</li>
          <li>средняя <strong>{{result.priceAvg}}</strong> {{cur}}</li>
          <li>максимальная <strong>{{result.priceMax}}</strong> {{cur}}</li>
        </ul>
        <div>Средний пробег по рынку для <strong>{{result.titleMark}} {{result.titleModel}} {{result.year}}</strong>
          года
          составляет <strong>{{result.millageAvg}}</strong> км</div>
        <div>Количество объявлений о продаже <strong>{{result.titleMark}} {{result.titleModel}}</strong> на
          <strong>{{date | date:'dd.MM.yyyy'}}</strong>
          составляет <strong>{{result.quantity}}</strong>
          шт</div>

      </section>


      <section *ngIf="oldCars" class="result__old-cars">


        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Список проданных автомобилей за последние <strong>&nbsp;6 месяцев&nbsp;</strong>
                (<strong>{{result.oldCarsQuantity}}&nbsp;шт</strong>)
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngFor="let car of oldCars">
              <strong>{{result.titleMark}} {{result.titleModel}} {{car.year}}</strong>
              г. с пробегом <strong>{{car.millage}}</strong> км за <strong>{{car.price}}</strong>
              {{cur}}
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </section>

    -->
    </div>

    <div *ngIf="!resultShow">

      <app-rating-with-comment></app-rating-with-comment>

    </div>

    <section class="form-footer__btns">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || loadingBtn">
        <mat-spinner class="loading-btn" *ngIf="loadingBtn" [diameter]="20"></mat-spinner>
        анализировать
      </button>
    </section>

  </form>

</section>

<!--
<mat-spinner *ngIf="loading"></mat-spinner>

<ng-template *ngIf="false" class="loading">
  <mat-spinner></mat-spinner>
</ng-template>

-->