<section class="container">
  <h1 class="auto-price-page__h1">Внесите параметры автомобиля:</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field>
      <mat-label>Марка</mat-label>
      <mat-select required formControlName="mark" (ngModelChange)="getModels($event, selectModels)">
        <mat-option>Выбрать</mat-option>
        <mat-option *ngFor="let mark of marks" [value]="mark.id">
          {{mark.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Модель</mat-label>
      <mat-select #selectModels required formControlName="model" [(ngModel)]="modelsValue">
        <mat-option>Выбрать</mat-option>
        <mat-option *ngFor="let model of models" [value]="model.id">
          {{model.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Год выпуска</mat-label>
      <mat-select required formControlName="year">
        <mat-option>Выбрать</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>




    <section *ngIf="result">

      <h2>Результат анализа рынка:</h2>
      <div>Стоимость данной модели на рынке:</div>
      <ul>
        <li>минимальная <strong>{{result.priceMin}}</strong> USD</li>
        <li>средняя <strong>{{result.priceAvg}}</strong> USD</li>
        <li>максимальная <strong>{{result.priceMax}}</strong> USD</li>
      </ul>
      <div>Средний пробег по рынку для <strong>{{result.titleMark}} {{result.titleModel}} {{result.year}}</strong> года
        составляет <strong>{{result.millageAvg}}</strong> км</div>
      <div>Количество объявлений о продаже <strong>{{result.titleMark}}</strong>
        <strong>{{result.titleModel}}</strong> на 14.06.2020 составляет <strong>{{result.quantity}}</strong>
        шт</div>
      <div>Количество <strong>{{result.titleMark}}</strong> <strong>{{result.titleModel}}</strong>
        проданных за последние 6 месяцев составляет <strong>{{result.oldCarsQuantity}}</strong>
        шт:</div>


    </section>


    <section *ngIf="oldCars">


      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Список проданных автомобилей
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let car of oldCars">
            <strong>{{result.titleMark}} {{result.titleModel}} </strong> <strong>{{car.year}}</strong>
            г. с пробегом <strong>{{car.millage}}</strong> км за <strong>{{car.price}}</strong>
            USD
          </div>


        </mat-expansion-panel>
      </mat-accordion>
    </section>



    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">анализировать</button>
  </form>





</section>