.app-loading {
  .logo {
 width: 100px;
 height: 100px;
 
 background: url(https://assets3.insales.ru/assets/1/7012/1416036/1595503554/logotype-colorful.svg) center center no-repeat; 
  }
 }

 .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #4c8dff;
}