.header {   
    
    &__bg {
        background: #2819eb;
        height: 600px;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: -40px 0 0 0;

        background: rgba(76,142,255,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(76,142,255,1) 0%, rgba(39,25,235,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,142,255,1)), color-stop(100%, rgba(39,25,235,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(76,142,255,1) 0%, rgba(39,25,235,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(76,142,255,1) 0%, rgba(39,25,235,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(76,142,255,1) 0%, rgba(39,25,235,1) 100%);
        background: radial-gradient(ellipse at center, rgba(76,142,255,1) 0%, rgba(39,25,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c8eff', endColorstr='#2719eb', GradientType=1 );


        &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 200px solid #ffffff;
        border-left: 100vw solid transparent;
        bottom: 0;
        position: absolute;

        }
        @media all and (max-width: 650px) {
            height: 500px;
        }
    }

    &__title {
      color: #fff;
      text-transform: uppercase;
      top: 100px;
      position: absolute;
      text-align: left;
      line-height: 30px;     
      @media all and (max-width: 650px) {
        top: 30px;
    }
    }

    &__title-small {
        display: block;
        font-size: 22px;
        margin: 0 0 10px 0;
        font-weight: 100;
    }

    &__title-big {
        font-weight: bold;
        display: block;
        font-size: 36px;
    }

    &__car {
        position: absolute;
        right: 0;
        bottom: 80px;
        z-index: 2; 
        
        @media all and (max-width: 650px) {
            width: 100%;
        }
    }

    &__btn-evaluate {
        display: inline-block;
        line-height: 1;
        position: absolute;
        //top: calc(50% - 50px);
        bottom: 230px;
        left: 10%;
        font-weight: 100;
        padding: 20px 30px 19px 30px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 100px;
        font-size: 18px;
        letter-spacing: 2px;
        z-index: 3;

        background: rgba(11,219,223,1);
        background: -moz-linear-gradient(left, rgba(11,219,223,1) 0%, rgba(95,242,134,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11,219,223,1)), color-stop(100%, rgba(95,242,134,1)));
        background: -webkit-linear-gradient(left, rgba(11,219,223,1) 0%, rgba(95,242,134,1) 100%);
        background: -o-linear-gradient(left, rgba(11,219,223,1) 0%, rgba(95,242,134,1) 100%);
        background: -ms-linear-gradient(left, rgba(11,219,223,1) 0%, rgba(95,242,134,1) 100%);
        background: linear-gradient(to right, rgba(11,219,223,1) 0%, rgba(95,242,134,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bdbdf', endColorstr='#5ff286', GradientType=1 );

        &:hover {
          background: #fff;
          color: #000;
        }

        @media all and (max-width: 650px) {
            left: calc(50% - 122px)
        }
    }

}



.home-title {
    font-size: 26px;
    text-align: center;
    margin: 10px 0 30px 0;
    text-transform: uppercase;
    font-weight: 500;
}


.home-advantages {

    &__blocks {
        width: 100%;  
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        margin: 60px 0;

        & > div {
            padding: 60px;
            text-align: center;
            font-size: 18px;
            font-weight: 100;
            color: #fff;    
            border-radius: 4px;     

            &:nth-child(1) {
                background: #0ddcdd;

                
            }
            &:nth-child(2) {
                color: #000;
                background: #fff;
            }
            &:nth-child(3) {
                background: #5ef288;
            }
            &:nth-child(4) {

                color: #000;
                background: #fff;
            }
            &:nth-child(5) {
                background: #36e7b1;
            }
            &:nth-child(6) {

                color: #000;
                background: #fff;
            }

            @media only screen and (max-width: 900px) {                
                padding: 20px;
            }
        }
        
        @media only screen and (max-width: 550px) {                
            grid-template-columns: none;
        }
    }

}



.text-block {
    padding: 24px;
    font-size: 14px;
    margin: 40px 0;
    border-radius: 4px;    
    font-weight: 400;

    &_gray {
        background: #f7f7f7;
    }

    & strong {
        font-weight: 500;
    }
}