<!--
<div *ngIf="privilege('auth')">

  Информация для зарегистрированного польователя!!!!!!!!!!!!!
</div>


<div *ngIf="privilege('auth')">

  Информация для зарегистрированного польователя!!!!!!!!!!!!!
</div>

<div *ngIf="privilege('auth')">
  Информация для зарегистрированного польователя!!!!!!!!!!!!!
</div>


<div *ngIf="privilege('vip')">
  ВЫ ВОШЛИ КАК АДМИНИСТРАТОР!!!!
</div>



<section class="home-auto-category_bg">
  <div class="home-auto-category_bg-filter">
    <div class="home-auto-category">
      <div class="home-auto-category__item"><img src="/assets/main/car-and-boy.png" alt=""></div>
      <a [routerLink]="['/auto']" class="home-auto-category__item home-auto-category__item_1">
        <span class="home-auto-category__item-title">Оценить автомобиль</span>
        <span class="home-auto-category__item-description">

          Необходимо узнать стоимость конкретного автомобиля при его покупке или продаже?

        </span>
        <mat-icon class="home-auto-category__item-icon">keyboard_arrow_right</mat-icon>
      </a>
    </div>
    <div class="home-auto-category">
      <a [routerLink]="['/auto-market']" class="home-auto-category__item home-auto-category__item_2">
        <span class="home-auto-category__item-title">Анализ рынка</span>
        <span class="home-auto-category__item-description">

          Необходимо узнать диапазон цен по марке, модели и году выпуска автомобиля?

        </span>
        <mat-icon class="home-auto-category__item-icon">keyboard_arrow_right</mat-icon>

      </a>
      <a href="#" class="home-auto-category__item home-auto-category__item_3">
        <span class="home-auto-category__item-title">Подбор по параметрам</span>
        <span class="home-auto-category__item-description">

          Необходимо подобрать автомобиль исходя из вашего бюджета или других параметров?

        </span>
        <mat-icon class="home-auto-category__item-icon">keyboard_arrow_right</mat-icon>

      </a>
    </div>
  </div>
</section>

-->


<div class="header__bg">

  <div class="container container_block">

    <div class="header__title">
      <span class="header__title-small">Удобная и быстрая</span><span class="header__title-big">система оценки
        автомобиля</span></div>
        <a href="javascript:;" class="header__btn-evaluate" (click)="scrollingTo('assessment')">Оценить сейчас</a>
        <button mat-icon-button  class="header__btn-statistics" (click)="scrollingTo('market-statistics')">
          <mat-icon>insights</mat-icon> Посмотреть статистику
        </button>
        
    <img class="header__car" src="/assets/main/home-car.png" alt="">

  </div>

</div>


<div class="home-title" data-block="assessment">
  Оценка авто
</div>

<div class="container">
  <app-location></app-location>
  &nbsp;&nbsp;&nbsp;
  <app-currency></app-currency>
</div>


<div class="container">

  <div class="home-expansion-panel">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="home-expansion-panel__header">
          <mat-panel-title class="home-expansion-panel__title">
            <div class="home-expansion-panel__title-h1">Оценка автомобиля</div>
            <div class="home-expansion-panel__title-h2">Необходимо узнать стоимость конкретного автомобиля при его
              покупке или продаже?</div>
          </mat-panel-title>
          <mat-panel-description class="home-expansion-panel__description">
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-auto></app-auto>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="home-expansion-panel">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="home-expansion-panel__header">
          <mat-panel-title class="home-expansion-panel__title">
            <div class="home-expansion-panel__title-h1">Анализ рынка</div>
            <div class="home-expansion-panel__title-h2">Необходимо узнать диапазон цен по марке, модели и году выпуска
              автомобиля?</div>
          </mat-panel-title>
          <mat-panel-description class="home-expansion-panel__description">
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-auto-market-page></app-auto-market-page>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="home-expansion-panel">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="home-expansion-panel__header">
          <mat-panel-title class="home-expansion-panel__title">
            <div class="home-expansion-panel__title-h1">Подбор по параметрам</div>
            <div class="home-expansion-panel__title-h2">Необходимо подобрать автомобиль исходя из вашего бюджета или
              других параметров?</div>
          </mat-panel-title>
          <mat-panel-description class="home-expansion-panel__description">
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-auto-budget></app-auto-budget>

      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>

<div class="market-statistics" data-block="market-statistics">
  <div class="container">

    <div class="home-title">Статистика по рынку Беларуси</div>
    
    <app-market-statistics></app-market-statistics>

  </div>
</div>


<div class="container">
  <div class="main-p">
    <br><br>
<!--
      <div class="main-h2"><strong>Электронный Крот</strong> – удобный и быстрый инструмент оценки стоимости Вашего
      автомобиля:</div>
    <ul class="main-advantages__lists">
      <li>развернутый список параметров автомобиля для точной оценки</li>
      <li>учет дополнительно установленного оборудования</li>
      <li>«умный» анализ автомобилей-аналогов</li>
      <li>детальный отчет и полезная статистика</li>
      <li>экспертиза качества оценки специалистами данного профиля</li>
      <li>время оценки не превышает 30 секунд</li>
    </ul>
-->


<div class="home-title">
  Почему выбирают нас
</div>


<div class="home-advantages__blocks">

  <div>
    <div>развернутый список параметров автомобиля для точной оценки</div>
  </div>
  <div>
    <div>учет дополнительно установленного оборудования</div>
  </div>
  <div>
    <div>«умный» анализ автомобилей-аналогов</div>        
  </div>
  <div>
    <div>детальный отчет и полезная статистика</div>
  </div>
  <div>
    <div>экспертиза качества оценки специалистами данного профиля</div>
  </div>
  <div>
    <div>время оценки не превышает 30 секунд</div>
  </div>


</div>



  </div>




  <div class="text-block text-block_gray">
    <div>
   


    <h2 class="main-h2">Один из важных результатов оценки в ЭКрот:</h2>

    Возможность понять и обосновать стоимость автомобиля при его
    покупке или продаже,<br>страховании, передаче в залог или trade-in.

    <br>   

    <!--
      <br>
    <div>
    <strong>Электронный Крот</strong> – удобный и быстрый инструмент оценки стоимости Вашего
    автомобиля.</div>
   -->


    <br>
    <strong>Обратите внимание:</strong> оценка автомобилей в аварийном или разукомплектованном<br>
    состоянии не производится.

  </div>

</div>